body, html{  margin:0;
             padding:0;
			 font-family:'Roboto', sans-serif;
			 background:none;
}
.header.header{
	     height:250px;
         width:100%;
		 background:rgb(62,57,107);
		 position:relative;
		 border-bottom-left-radius: 50% 20%;
         border-bottom-right-radius: 50% 20%;
}
.header .header-texture{
	     position:absolute;
		 width:100%;
		 height:100%;
		 background:url("images/header1.jpg") center no-repeat;
		 background-size:cover;
		 background-position: 50% 20%;
		 z-index:1;
		 border-bottom-left-radius: 50% 20%;
         border-bottom-right-radius: 50% 20%;
}
.header-navbar{
	     width:100%;
		 height:100px;
		 display:flex;
		 flex-direction:row;
		 justify-content:space-between;
		 align-items:center;
}
.header-navbar-logo{
	     width:120px;
		 height:100px;
		 display:flex;
		 right:20px;
		 position:relative;
		 
	     
}
.header-navbar-menu-link{
	     margin-left:30px;
		 font-size:20px;
		 color:white;
		 text-decoration:none;
}

.header-navbar-list{
	     width:40px;
		 height:60px;
		 display:flex;
		 align-items:center;
		 display:none;
		 cursor:pointer;
}
.header-navbar-list-form, .header-navbar-list-form:before, .header-navbar-list-form:after{
	     content:"";
	     display:block;
		 width:80%;
		 height:4px;
		 border-radius:10px;
		 background:linear-gradient(#e66465, #9198e5);
		 position: relative;
}
.header-navbar-list-form:before{top: 10px}
.header-navbar-list-form:after{top: -14px}

.open .header-navbar-menu{
	     transform:translateY(0);
}

 @media only screen and (max-width:1050px){
	     .container{
			 position: fixed;
			 width:100%;
			 padding: 0 20px;
		 }
	     .header-navbar-list{
			 display:flex;
			 z-index:1000;
		 }
		 .header-navbar-menu{
			 transition: all 0.3s ease-in-out;
			 transform:translateY(-100%);
			 display:flex;
			 flex-direction:column;
			 justify-content:center;
			 align-items:center;
			 position:absolute;
			 width:100vw;
			 height:100vh;
			 background:linear-gradient(#e66465, #9198e5);
			 top:0;
			 left:0;
			 border-bottom-left-radius: 100% 70%;
             border-bottom-right-radius: 100% 70%;
		 }
		 .header-navbar-menu-link{
			 margin:20px 0;
			 font-size:24px;
		 }
 }
.article-container{
	     width:60%;
		 margin:auto;
		 text-align:justify;
}
.article-titre{
	     border-bottom: 3px solid #4ea8de;
}
.article-sous-titre1{
	     border-bottom: 3px solid #56cfe1;
		 width:100%;
}
.article-soustitre1-contenu{
	     padding:0;
		 margin:0;
}
.article1{
	     margin-bottom:10%;
}

.article-sous-titre2{
	     border-bottom: 3px solid #56cfe1;
		 width:100%;
}
.article-sous-titre3{
border-bottom: 3px solid #56cfe1;
		 width:100%;
}
.wrapper { width:100%;
           max-width:1200px;
          padding:20px 0; 
		  margin:auto; 
		  } 
#wrapper video { display:block;
width:80%; 
margin:auto; 
} 
@media screen and (max-width:600px){ 
     #wrapper { width:auto; 
	 }
 }
	

.wrapper1 { width:100%;
           max-width:1200px;
          padding:20px 0; 
		  margin:auto; 
		  } 
#wrapper1 video { display:block;
width:80%; 
margin:auto; 
} 
@media screen and (max-width:600px){ 
     #wrapper1 { width:auto; 
	 }
 }
.wrapper2 { width:100%;
           max-width:1200px;
          padding:20px 0; 
		  margin:auto; 
		  } 
#wrapper2 video { display:block;
width:80%; 
margin:auto; 
} 
@media screen and (max-width:600px){ 
     #wrapper2 { width:auto; 
	 }
 }
 .footer #button{
	 width:35px;
	 height:35px;
	 color:black;
	 margin:0 auto;
	 text-align:center;
	 position:relative;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
}
.footer #button:hover{
	 width:35px;
	 height:35px;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
	 position:relative;
}
.footer {
	 bottom:0;
	 left:0;
	 position:fixed;
     width: 100%;
     height: 2em;
     overflow:hidden;
     margin:0 auto;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
	 z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	 margin-top:5px;
	 width:100%;
     height:100%;
     position:relative;
     top:0;
     left:0;
	 background: none;
	 border-top-left-radius: 50% 20%;
     border-top-right-radius: 50% 20%;
}
.footer #cont{
     position:relative;
     top:-70px;
     right:190px;
	 width:5000px;
	 height:auto;
	 margin:0 auto;
}
.footer_center{
	 width:500px;
	 float:left;
     text-align:center;
}
.footer h3{
	 font-family: 'Roboto';
	 font-size: 15px;
	 font-weight: 100;
	 margin-top:80px;
	 margin-left:-100px;
}
.up{
	 font-size:36px;
}
.reseau{
	 font-size:25px;
	 display:flex;
	 flex-direction:row;
	 position:relative;
     top:-10px;
     left:50px;
	 width:5000px;
	 height:auto;
	 margin:0 auto;
}
.fab{
	 padding-left:60px;
}